@page
@model LogoutModel
@{
    ViewData["Title"] = "Déconnexion";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Déconnexion réussie. nous vous remercions d'avoir utilisé <strong>ENSAT Cours</strong></p>
</header>