@page
@model ProjetASP.NET.Pages.Elements.CreateModel
@{
    ViewData["Title"] = "Eléments";

    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post">
    @Html.HiddenFor(m=>m.Element.IdModule)
    <div class="white-background border text-white">
        <h2 class="text-white">Ajouter Element</h2>
        <br />
        <hr />
        <div class="form-group row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6">
                <div class="mb-3">
                    <label asp-for="Element.Nom" class="control-label"></label>
                    <input asp-for="Element.Nom" class="form-control" />
                    <span asp-validation-for="Element.Nom" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Element.pourcentage" class="control-label"></label>
                    <input asp-for="Element.pourcentage" class="form-control" />
                    <span asp-validation-for="Element.pourcentage" class="text-danger"></span>
                </div>
                <select class="form-select" aria-label="Default select example" asp-for="Element.userId">
                    <option selected>Selectionner Professeur</option>
                    <option value="Khalid.Amechnoue@gmail.com">M.Khalid Amechnoue</option>
                    <option value="professeur.test@uae.ac.ma">M.Professeur1</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Ajouter</button>
                <a asp-page="Index" asp-route-IdModule="@Model.Element.IdModule" class="btn btn-success">Retour</a>
            </div>

        </div>
    </div>
</form>


@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}