@page
@model ProjetASP.NET.Pages.Modules.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post">
    @Html.HiddenFor(m => m.Module.IdModule)
    @Html.HiddenFor(m => m.Module.IdFil)
    <div class="white-background border text-white">
        <h2 class="text-white">Supprimer Module</h2>
        <br />
        <hr />
        <div class="form-group row">
            <div class="col-6">
                <div class="mb-3">
                    <label asp-for="Module.Code" class="control-label"></label>
                    <input asp-for="Module.Code" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="Module.Nom" class="control-label"></label>
                    <input asp-for="Module.Nom" class="form-control" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-danger" onclick="return confirm('vous etes sur ?')">Supprimer</button>
                <a asp-page="Index" asp-route-IdFil="@Model.Module.IdFil" class="btn btn-success">Retour</a>
            </div>

        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}