@page
@model ProjetASP.NET.Pages.Seances.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post">
    @Html.HiddenFor(m => m.seance.idSeance)
    @Html.HiddenFor(m => m.seance.IdElement)
    <div class="white-background border text-white">
        <h2 class="text-white">Modifier séance</h2>
        <br />
        <hr />
        <div class="form-group row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6">
                <div class="mb-3">
                    <label asp-for="seance.Nom" class="control-label"></label>
                    <input asp-for="seance.Nom" class="form-control" />
                    <span asp-validation-for="seance.Nom" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="seance.LienSeance" class="control-label">Lien séance (Meet ou Zoom)</label>
                    <textarea asp-for="seance.LienSeance" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="seance.LienSeance" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="seance.Date" class="control-label"></label>
                    <input asp-for="seance.Date" class="form-control" type="datetime-local" />
                    <span asp-validation-for="seance.Date" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Modifier</button>
                <a asp-page="Index" asp-route-IdElement="@Model.seance.IdElement" class="btn btn-success">Retour</a>
            </div>

        </div>
    </div>
</form>


@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}